@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/ClashGrotesk-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/ClashGrotesk-Regular.otf") format("opentype");
}

body {
  font-family: "Regular", sans-serif !important;
}
.family2 {
  font-family: "Bold", sans-serif !important;

}